1. 先处理年龄数据
2. 处理重复的列

In [64]:
import numpy as np
import pandas as pd

In [71]:
path_train = 'data_file/train.csv'
path_test = 'data_file/test.csv'

data_train = pd.read_csv(path_train, header=0, index_col=0)
data_test = pd.read_csv(path_test, header=0, index_col=0)

# print(data_train.head())

In [72]:
# 处理年龄
# 使用try.. except
def transform_age(data:pd.DataFrame):
    present_time = pd.datetime.now()
    data.rename(columns = {'CSNY': 'AGE'}, inplace=True)

    for i in range(len(data)):
        try:
            birth = pd.to_datetime(data['AGE'][i], unit='s')            
        except:
            # print present index and the bad value of CSNY
            print(i, data['AGE'][i])
            birth = pd.to_datetime(data['AGE'][i]/1000, unit='s')
        finally:
            data['AGE'][i] = int((present_time - birth) / pd.Timedelta('365 days'))

    return data

data_train = transform_age(data_train)
data_test = transform_age(data_test)

38354 190364572800
12133 150445008000

In [74]:
# drop duplicate columns(features)
def drop_duplicate_feature(data:pd.DataFrame):
    data = data.T.drop_duplicates(keep='first').T
    return data
    # pass

data_train = drop_duplicate_feature(data_train)
data_test = drop_duplicate_feature(data_test)

In [75]:
data_train.head()

,XINGBIE,AGE,HYZK,ZHIYE,ZHICHEN,ZHIWU,XUELI,DWJJLX,DWSSHY,GRJCJS,GRZHZT,GRZHYE,GRZHSNJZYE,GRZHDNGJYE,GRYJCE,DKFFE,DKYE,DKLL,label
id,,,,,,,,,,,,,,,,,,,
train_0,1.0,18.0,90.0,90.0,999.0,0.0,99.0,150.0,12.0,1737.0,1.0,3223.515,801.310,837.000,312.00,175237.0,154112.935,2.708,0.0
train_1,2.0,35.0,90.0,90.0,999.0,0.0,99.0,110.0,0.0,4894.0,1.0,18055.195,53213.220,1065.200,795.84,300237.0,298252.945,2.979,0.0
train_2,1.0,27.0,90.0,90.0,999.0,0.0,99.0,150.0,9.0,10297.0,1.0,27426.600,13963.140,7230.020,1444.20,150237.0,147339.130,2.708,0.0
train_3,1.0,37.0,90.0,90.0,999.0,0.0,99.0,150.0,7.0,10071.5,1.0,111871.130,99701.265,2271.295,1417.14,350237.0,300653.780,2.708,0.0
train_4,2.0,33.0,90.0,90.0,999.0,0.0,99.0,900.0,14.0,2007.0,1.0,237.000,11028.875,35.780,325.50,150237.0,145185.010,2.708,0.0

In [76]:
data_test.head()

,XINGBIE,AGE,HYZK,ZHIYE,ZHICHEN,ZHIWU,XUELI,DWJJLX,DWSSHY,GRJCJS,GRZHZT,GRZHYE,GRZHSNJZYE,GRZHDNGJYE,GRYJCE,DKFFE,DKYE,DKLL
id,,,,,,,,,,,,,,,,,,
test_0,1.0,34.0,90.0,90.0,999.0,0.0,99.0,159.0,10.0,2387.000,1.0,17146.350,13376.485,1097.000,344.500,110237.0,237.000,2.708
test_1,1.0,32.0,90.0,90.0,999.0,0.0,99.0,150.0,11.0,1237.000,1.0,3783.385,2145.585,637.000,287.000,200237.0,178567.065,2.708
test_2,1.0,50.0,90.0,90.0,999.0,1.0,99.0,110.0,15.0,5612.904,1.0,51787.152,35176.592,1115.693,882.108,150237.0,146580.203,2.834
test_3,2.0,34.0,90.0,90.0,999.0,0.0,99.0,150.0,10.0,2977.000,1.0,785.000,714.885,-2515.105,511.000,246737.0,242095.465,2.979
test_4,1.0,48.0,90.0,90.0,999.0,0.0,99.0,150.0,2.0,4701.500,1.0,40722.050,27110.840,8163.960,772.740,100237.0,72320.445,2.708

In [77]:
data_train.to_csv('data_file/train-age-duplicate-processed.csv')
data_test.to_csv('data_file/test-age-duplicate-processed.csv')