## 数据分布不平衡，需要过采样
1. 读取数据
2. 拆分数据为X, y
3. 随机采样数据
4. 合并数据
5. 导出数据
6. 检查数据是否导入正确

In [1]:
import pandas as pd
import numpy as np
from imblearn.over_sampling import RandomOverSampler

In [2]:
path_train = 'data_file/train-age-duplicate-processed.csv'

data_train = pd.read_csv(path_train, index_col=0)
X, y = data_train.iloc[:, :-1], data_train.iloc[:, -1]

# 过采样类的实例化，先传入一个random_state固定初始值?
# 调用实例的方法
ros = RandomOverSampler(random_state=0)
X_resampled, y_resampled = ros.fit_resample(X, y)

In [3]:
# 合并, 将X, y合并
Xy_resampled = pd.concat([X_resampled, y_resampled], axis=1)
Xy_resampled.to_csv(r'data_file/train-age-oversampled.csv', index=0)

In [4]:
# 查看违约：正常 比例
print(len(y_resampled), np.sum(y_resampled))
# 1：default 代表违约， 0： 不违约，代表正常用户

74486 37243.0

In [5]:
# 查看数据是否合并正确
Xy_resampled.head()

,XINGBIE,AGE,HYZK,ZHIYE,ZHICHEN,ZHIWU,XUELI,DWJJLX,DWSSHY,GRJCJS,GRZHZT,GRZHYE,GRZHSNJZYE,GRZHDNGJYE,GRYJCE,DKFFE,DKYE,DKLL,label
0,1.0,18.0,90.0,90.0,999.0,0.0,99.0,150.0,12.0,1737.0,1.0,3223.515,801.310,837.000,312.00,175237.0,154112.935,2.708,0.0
1,2.0,35.0,90.0,90.0,999.0,0.0,99.0,110.0,0.0,4894.0,1.0,18055.195,53213.220,1065.200,795.84,300237.0,298252.945,2.979,0.0
2,1.0,27.0,90.0,90.0,999.0,0.0,99.0,150.0,9.0,10297.0,1.0,27426.600,13963.140,7230.020,1444.20,150237.0,147339.130,2.708,0.0
3,1.0,37.0,90.0,90.0,999.0,0.0,99.0,150.0,7.0,10071.5,1.0,111871.130,99701.265,2271.295,1417.14,350237.0,300653.780,2.708,0.0
4,2.0,33.0,90.0,90.0,999.0,0.0,99.0,900.0,14.0,2007.0,1.0,237.000,11028.875,35.780,325.50,150237.0,145185.010,2.708,0.0