In [1]:
# 导入包
import itertools
from sklearn import svm
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

In [2]:
path_test = 'data_file/test-age-duplicate-processed.csv'

data_test = pd.read_csv(path_test, header=0, index_col=0)
data_test.head()

,XINGBIE,AGE,HYZK,ZHIYE,ZHICHEN,ZHIWU,XUELI,DWJJLX,DWSSHY,GRJCJS,GRZHZT,GRZHYE,GRZHSNJZYE,GRZHDNGJYE,GRYJCE,DKFFE,DKYE,DKLL
id,,,,,,,,,,,,,,,,,,
test_0,1.0,34.0,90.0,90.0,999.0,0.0,99.0,159.0,10.0,2387.000,1.0,17146.350,13376.485,1097.000,344.500,110237.0,237.000,2.708
test_1,1.0,32.0,90.0,90.0,999.0,0.0,99.0,150.0,11.0,1237.000,1.0,3783.385,2145.585,637.000,287.000,200237.0,178567.065,2.708
test_2,1.0,50.0,90.0,90.0,999.0,1.0,99.0,110.0,15.0,5612.904,1.0,51787.152,35176.592,1115.693,882.108,150237.0,146580.203,2.834
test_3,2.0,34.0,90.0,90.0,999.0,0.0,99.0,150.0,10.0,2977.000,1.0,785.000,714.885,-2515.105,511.000,246737.0,242095.465,2.979
test_4,1.0,48.0,90.0,90.0,999.0,0.0,99.0,150.0,2.0,4701.500,1.0,40722.050,27110.840,8163.960,772.740,100237.0,72320.445,2.708

In [3]:
# 连续变量
feature_li = ['GRJCJS', 'GRZHYE', 'GRZHSNJZYE', 'GRZHDNGJYE', 'GRYJCE', 'DKFFE', 'DKYE']

def new_feature(data, f1, f2, operation):
    new_name = f1 +'_' + operation + '_' + f2
    
    if operation == 'add':
        new_df = data.loc[:, f1] + data.loc[:, f2]
    elif operation == 'subtract':
        new_df = data.loc[:, f1] - data.loc[:, f2]
    elif operation == 'multiply':
        new_df = data.loc[:, f1] * data.loc[:, f2]
    elif operation == 'divide_ab':
        new_df = data.loc[:, f1] / data.loc[:, f2]
        new_df.astype(float)

    elif operation == 'divide_ba':
        new_df = data.loc[:, f2] / data.loc[:, f1]
        new_df.astype(float)
    
    # data[new_name] = new_df
    # return data
    return new_name, new_df

def all_operate(data, feature_li=feature_li):
    name_4_operations = ['add', 'subtract', 'multiply', 'divide_ab', 'divide_ba']
    new_feature_names = []
    new_combin_li = list(itertools.combinations(feature_li, 2))
    print('len(new_combin_li)', len(new_combin_li))

    vocant = []
    for f1, f2 in new_combin_li:
        for operation in name_4_operations:
            vocant.append(new_feature(data, f1, f2, operation))
    
    print(len(new_combin_li) * len(name_4_operations))
    
    for new_name, new_df in vocant:
        data[new_name] = new_df
        
    return data  

data_tmp = all_operate(data_test)


data_tmp.to_csv('data_file/data_test_generation.csv', index=0)

len(new_combin_li) 21
105